.highlight {
    position: relative;
    z-index: 0;
    display: inline-block;
}

.highlight:before {
    content: "";
    position: absolute;
    /* background-image: linear-gradient(#fcf268, var(--highlight-color)); */
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 1em;
    left: -0.2075em;
    top: 50%;
    z-index: -1;
    border-radius: 40px;
    padding-left: 0.1875em;
    padding-right: 0.1875em;
    transform: translateY(-50%);
    transition: width var(--highlight-duration) ease-out, opacity .2s ease;
    transition-delay: calc(var(--highlight-duration)* var(--highlight-line) + var(--highlight-delay, 0));
}

.section-classroom-intro .highlight:before {
    transition: width 2.5s ease-out, opacity .2s ease;
    transition-delay: calc(2.5s* var(--highlight-line) + var(--highlight-delay, 0));
}

.highlight:before {
    width: 0%;
    opacity: 0;
}

  .highlight.animate:before{
    width: 105%;
    opacity: 1;
}


.highlight-line{
    position: relative;
    z-index: 0;
    display: inline-block;
}

.highlight-line:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(#fa8cbd, #fa8cbd);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 6px;
    /* left: -0.1875em; */
    top: 89%;
    z-index: -1;
    border-radius: 40px;
    padding-left: 0.1875em;
    padding-right: 0.1875em;
    transform: translateY(-50%);
    transition: width 1.5s ease-out, opacity .2s ease;
    transition-delay: calc(1.5s* var(--highlight-line) + var(--highlight-delay, 0));
}


.highlight-line:before {
    width: 0%;
    opacity: 0;
}

.highlight-line.animate:before{
    width: 100%;
    opacity: 1;
}

.highlight-yellow.highlight:before {
    background-image: linear-gradient(#fcf268, #fcf268);
}

.highlight-pink.highlight:before {
    background-image: linear-gradient(#fa8cbd, #fa8cbd);
}

.highlight-purple.highlight:before {
    background-image: linear-gradient(#AF81F7, #AF81F7);
}

.highlight-green.highlight:before {
    background-image: linear-gradient(#7EF48D, #7EF48D);
}



.highlight-line-green.highlight-line::before{
    background-image: linear-gradient(#F8A057, #F8A057);
}


:root {
    --highlight-color: #FCF268;
    --highlight-duration: .9s
}


/* @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  } */




  @keyframes zoomOut {
    from {
      transform: scale(2);
      opacity: 1;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes zoomOutOpacity {
    to {
      opacity: 1; /* Kết thúc với opacity = 1 */
    }
  }


  .scroller {
    height: 100vh;
  }
  
  .orange {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #753500;
  }
  
  .text {
    color: #fff;
  }
  
  .black {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #070707;
  }
  
  .blue {
    height: 100vh;
    background-color: #00026d;
  }
  
  
  .text-wrap {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 80vh;
  }
  
  .panel-text {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    text-align:center;
    background-color: #070707;
    
    transform:translateY(100%);
    opacity: 0;
  }
  
  .panel-text.blue-text {
    color: blue;
  }
  
  .panel-text.red-text {
    color: red;
  }
  
  .panel-text.purple-text {
    color: purple;
  }
  
  .panel-text.orange-text {
    color: orange;
  }
  
  
  
  
  
  
  .p-wrap {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 80vh;
  }
  
  .panel {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../images/5ed12171d9d512cb2feead83_5.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .panel._2 {
    z-index: 1;
    background-image: url("../images/5f5a5b3515c4dd0c2c455925_110642301_938622823267359_7859124022958180678_n201.jpg");
  }
  
  .panel.blue {
    z-index: auto;
  }
  
  .panel.red {
    z-index: auto;
    background-color: red;
    background-image: none;
  }
  
  .panel.orange {
    z-index: auto;
    background-color: #cf5d00;
    background-image: none;
  }
  
  .panel.purple {
    z-index: auto;
    background-color: #808;
    background-image: none;
  }




  .show_bg {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.popup-subscribe-success {
  text-align: center;
  margin: auto;
  min-width: 589px;
  background: #fff;
  padding: 50px 16px 16px 16px;
  position: relative;
  border-radius: 16px;
}

.dknt .check_close {
  top: 9px;
  right: 16px;
  display: flex;
  margin-top: 0;
  right: 20px;
  opacity: 1;
  z-index: 9999;
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  line-height: 1;
}

.eicon-close:before {
  content: '\f00d';
  font-family: 'FontAwesome';
  font-style: initial;
  color: #1D1D1F;
}

.popup-subscribe-success .sub-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #515154;
  padding-top: 6px;
  padding-bottom: 6px;
}

a.btn_subscribe {
  background: #0066CC;
  border-radius: 8px;
  width: 339px;
  height: 48px;
  display: flex;
  margin: 30px auto 0;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 21px;
  align-items: center;
  justify-content: center;
}

.popup-subscribe-success .title {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #339901;
  padding-top: 16px;
}