@media only screen and (min-width: 768.98px){
  .show_mb{
    display: none !important;
  }
}

@media only screen and (max-width: 1400px) {
  .content h3 {
    font-size: 40px;
  }
  .section-classroom-intro {
    padding: 65px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .container-productivity img{
    width: 100%;
  }
  img.icon-nav {
    padding-right: 40px;
  }

  nav.nav a {
    font-size: 12px;
  }
}


@media only screen and (max-width: 1000px) {
  .container-productivity img{
    width: 100%;
  }

  
  img.icon-nav {
    padding-right: 0;
    width: 52px;
    height: 31px;
    margin-right: 10px;
}

  nav.nav a {
    font-size: 12px;
  }

  .banner_home-page img {
    height: 419px;
    object-fit: cover;
}

  .banner_home-page h2 {
    font-size: 48px;
  }

  .classroom_image .slick-prev,.classroom_image .slick-next {
    display: none !important;
  }

  nav.nav {
    overflow: scroll;
  }

  .about .items {
    gap: 20px;
    padding: 36px 0;
}

section.why {
  padding: 0 96px 47px;
}

section.text-intro h3 {
  font-size: 36px;
}
.small-business .title h3 {
  font-size: 40px;
}

.small-business .title {
  margin: 40px 28px;
}

.small-business .content p {
  padding-bottom: 16px;
  font-size: 24px;
  max-width: 387px;
}

.small-business .content {
  padding: 60px 0 20px;
}
.section-content h3 {
  font-size: 48px;
}

.section-content .content p {
  font-size: 24px;
}

.section-classroom .title {
  font-size: 32px;
}
.section-classroom .content {
  font-size: 21px;
  padding: 16px 0;
}

.bg-gray {
  padding-bottom: 122px;
}

.section-productivity .title {
  font-size: 40px;
}

.section-productivity .content {
  font-size: 19px;
  line-height: 20px;
}

.all-form-content .container {
  display: flex;
  flex-direction: column;
}
.form-dang-ky {
  width: 100%;
  margin-top: 20px;
  order: 2;
}
.form-right {
  width: 100%;
  order: 1;
}

.section-classroom img {
  width: 100%;
  padding: 0 20px;
}

nav.nav a {
  padding: 10px 16px 10px 3px;
}

.header-lower svg {
  width: 16px;
  height: 16px;
}

.header-lower h1 img {
  max-width: 62px;
}

.header-links-wrapper img {
    padding-right: 0;
    width: 69px;
    margin-right: 8px;
}

.header-links-wrapper a {
  font-size: 10px;
}

.header-lower {
  display: inline-block;
  height: 40px;
}
.about .items .content {
  padding: 50px 30px 40px;
}


}


@media only screen and (max-width: 768px) {
  .about .items {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    padding: 36px 0 0;
  }

  .small-business .title {
    margin: 40px 23px;
}

  .about .items .content {
    padding: 35px 38px 40px;
  }

  .content h3 {
    font-size: 32px;
  }

  .show_destop{
    display: none !important;
  }

  section.why {
    padding: 48px 0;
  }
  .small-business .content {
    padding: 60px 20px 20px;
  }

  .icon-classroom {
    width: 58px;
    height: 58px;
    background-size: 58px;
    left: 0;
    position: unset;
    margin-left: 0;
}

.mobile-hardware-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-hardware-text .content {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: 0.04px;
  padding: 17px 0;
}

.section-classroom-intro {
  padding: 40px 0;
}
.show_mb .img_edu{
  padding: 31px 0;
}
.mobile-hardware-text h2 {
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: 0.021px;
  color: #000;

}

a.btn_link.bg-blk {
  border: 2px solid #000;
  color: #000;
  line-height: 17px;
}

.section-classroom-intro.show_mb {
  height: auto;
}
.mobile-hardware-text .btn_link {
  margin: 40px 0;
}

.section-classroom {
  margin-top: 10px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 70px;
}

.section-classroom img {
  padding: 16px 0;
}

body .slick-dots {
  bottom: 44px;
}

.bg-gray {
  padding-bottom: 52px;
}

.top-productivity {
  padding: 40px 20px;
  left: 0;
  bottom: 0;
}

.section-productivity {
  height: 768px;
}

.image-scrim {
  background-color: rgba(0, 0, 0, 0.60);
}

.form input {
  width: 100%;
  /* color: #C7C7C7 !important; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 35px;
}

/* .highlight:before,.highlight-line:before {
  width: 100%;
  opacity: 1;
} */
.small-business .splide__slide {
  padding: 0;
}

.small-business .splide__slide img {
  border-radius: 0;
  min-height: 322px;
  object-fit: cover;
}

nav.nav {
  display: flex;
  overflow: scroll;
  text-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -1px;
}

header {
  top: -1px;
}

nav.nav a {
  padding: 0;
}
.content-productivity {
  padding: 0;
}

.content-productivity-two {
  padding-bottom: 40px;
  margin-top: -1px;
}

.all-form-content {
  padding: 20px 0;
}

#product-subscribe-submit span {
  font-size: 16px;
}
#product-subscribe-submit {
  padding: 8px;
  margin: 8px 0 20px;
}
.section-note span {
  font-size: 12px;
}

input#job {
  width: 48.5%;
  float: left;

}

input#email {
  width: 48.5%;
  float: right;
}

.popup-subscribe-success {
  margin: 0 20px;
  width: 100%;
  min-width: auto;
}

.container-content.show_mb {
  overflow: auto;
}

}
